body {
    background: url(images\ \(1\).jfif);
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    align-items: center;
    font-style: italic;
    color: black;
    background-size: cover;
}

div {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 650px;
    height: 550px;
    margin-top: 30px;

}

button {
    border-radius: 14px;
    position: relative;
    left: 90px;
    top: 50px;
    width: 120px;
    height: 25px;
    background-color: red;
    font-style: italic;
    font-size: 14px;
    
}
button:hover{
    background-color: #cd06a5;
    transition: 1s;
    cursor: pointer;
}